.sidebar {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.main_content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px;
}

.main_content__title {
  color: #003366;
}

.main_content__picture {
  max-width: 100px;
  height: auto;
}

.main_content__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 600px;
}

.main_content__input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.main_content__buttons {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
}

.main_content__button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #003366;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

button[type="button"] {
  background-color: #003366;
}

button:hover {
  background-color: #0055aa;
}
