* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr;
  height: 100vh;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: #003366;
  padding-top: 150px;
}

.sidebar__text {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.header {
  background-color: #f1f1f1;
}

.header__logo {
  width: 200px;
}

.main_content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: white;
  /* height: calc(100vh - 20px); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_content__title {
  font-size: 2rem;
  color: #003366;
}

.main_content__form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 20px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.main_content__buttons {
  display: flex;
  justify-content: space-between;
}

.main_content__button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #003366;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

button[type="button"] {
  background-color: #003366;
}

button:hover {
  background-color: #0055aa;
}

p {
  margin: 10px 0;
}

p a {
  color: #003366;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
